*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    color: white;
    margin:0;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background: rgb(4, 26, 101)
}
h1{
    font-size: 1.5rem;
    font-family: "sun-serif";
}
.nav-elements{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-elements li{
    list-style:none;
    margin:0 20px;
}
  